.heading {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.square {
    background-color: red;
    border: 1px solid #d63d26;
}

.button-group {
    display: flex;
    /* width: 10px; */
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.button {
    margin-left: 5px;
}