.heading {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.square {
    background-color: white;
    border: 1px solid black;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-left: 5px;
}